<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% load storbit_extras %}

    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'storbit/style.css' %}">
    <script type="text/javascript" language="javascript" src="{% static 'storbit/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'storbit/sto.js' %}"></script>
</head>
<body>
<div class="container content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
