{% extends 'storbit/base.html' %}

{% block title %}STOrbit{% endblock %}
{% block content %}
    <h1>Welcome to STOrbit main page</h1>
    <a class="btn btn-info" href="/storbit/list/" role="button">List of Ships</a>
{% endblock %}