{% extends 'storbit/base.html' %}
{% block title %}List of Ships{% endblock %}
{% load static %}
{% load storbit_extras %}

{% block content %}
<h2>List of existing ships</h2>
<p></p>
{% if ships.exists %}
    <table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Orbit height</th>
        <th>orbit inclination</th>
        <th>Longitude of Ascending node</th>
        <th>Mean Anomaly</th>
        <th>Icon</th>
    </tr>
    {% for ship in ships %}
        <tr>
            <td><a class="btn btn-link shp-name" href="/storbit/{{ ship.name }}/" role="link">{{ ship.name }}</a></td>
            <td>{{ ship.height }} km</td>
            <td>{{ ship.inclination }}&deg</td>
            <td>{{ ship.lan }}&deg</td>
            <td class="{{ ship.name }}-mean">{{ ship.mean }}&deg</td>
            <td><img src="{% static "/storbit/images/icons/"|addstr:ship.icon %}" alt={{ ship.icon }} width=32 height=32></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No ships on orbit</p>
{% endif %}
<p>

    <button class="btn btn-primary mkturn-all" ships='{% for ship in ships %}{{ship.name }} {% endfor %}'>Make turn</button>

    <button class="btn btn-warning mkturn-all reset" ships='{% for ship in ships %}{{ship.name }} {% endfor %}'>Reset Mean</button>
    <a class="btn btn-danger" href="/storbit/" role="link">Back to main page</a>
</p>
{% endblock %}
