{% extends 'storbit/base.html' %}
{% block title %}Orbit elements of {{ ship.name }}{% endblock %}

{% load static %}
{% load storbit_extras %}
{% block head %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}


{% block content %}
    <h2>Orbit elements of "{{ ship.name }}"</h2>
    <table class="table table-bordered">
        <tr>
            <th>Orbit height</th>
            <th>orbit inclination</th>
            <th>Longitude of Ascending node</th>
            <th>Mean Anomaly</th>
            <th>Icon</th>
        </tr>
        <tr>
            <td>{{ ship.height }} km</td>
            <td>{{ ship.inclination }}&deg</td>
            <td>{{ ship.lan }}&deg</td>
            <td id="mean">{{ ship.mean }}&deg</td>
            <td><img src="{% static "/storbit/images/icons/"|addstr:ship.icon %}" alt={{ ship.icon }} width=32 height=32></td>
        </tr>
    </table>

    <table class="table table-bordered">
        <tr>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <tr>
            <th class="lon">{{ lon }}</th>
            <th class="lat">{{ lat }}</th>
        </tr>

    </table>

    <div class="ct-chart ct-octave">
        <img id="map" src="{% static "/storbit/images/earth.png" %}" alt="map">
    <style type="text/css">
    </style>
    </div>
    <br>
    <button class="btn btn-primary mkturn" ship="{{ ship.name }}">Make turn</button>
    <button class="btn btn-warning mkturn reset" ship="{{ ship.name }}">Reset Mean</button>
    <a class="btn btn-danger" href="/storbit/list/" role="link">Back to list</a>

{#    Script to load path graph on document ready#}
    <script type="text/javascript">
        $.ajax({
        url: '/storbit/utils/get_path/',
        data: {
            'ship': "{{ ship.name }}",
        },
        dataType: 'json',
        type: 'GET',
        success: function(data) {
            draw_path(data.path, {{ lat }}, {{ lon }})
            }
        });
    </script>
{% endblock %}