body {
    text-align: center;
}

.ct-series-a .ct-line {
    stroke: yellow;
}

.ct-series-b .ct-point {
    stroke: darkslategrey;
}

.ct-chart {
    width: 625px;
    height: 312px;
}

#map {
    width: 625px;
    height: 312px;
}
